.cardpadre {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;  ...!! para centrar!! */
} 


.cardhija {
width: 200px ;
border:  black  1px solid;
border-radius: 10px;
margin: 50px;
display: block;

}

.cardhija img{

width: 100%;
height: 200px;
border-radius: 15px  0px 20px ;
}

.cardhija h3{
    color: rgba(130, 28, 130, 0.845);
    font-size: 1.5rem;
    margin: 10px;
}

.cardhija p{
    color: rgb(28, 121, 121);
    margin: 5px;
}

.cardhija button{
    margin: 10px;
    border-radius: 5px;
    color: rgb(16, 16, 26);
    background-color: rgb(197, 44, 197);
}

.cardhija button:hover{
    background-color: blueviolet;
    color: black;
}

///cookies!!!

.ventana-modal {
	margin: 20px auto;
	background: #3063A4;
	padding: 20px;
	width: 450px;
	line-height: 150%;
	border-radius: 3%;
	z-index: 100;
	text-align: center;
	transform: scale(1);
	transition: 0.9s ease-in all;
	font-family: "IM Fell Great Primer SC", serif;
}

.ventana-modal img {
	width: 100%;
	display: block;
	margin: auto;
	border: none;
}

.ventana-modal h1 {
	color: white;
	font-size: 2.5rem;
}

.ventana-modal p {
	color: white;
	font-size: 1.4rem;
}


.ventana-modal .boton {
	background: #6DA9ED;
	border: none;
	color: white;
	text-align: center;
	padding: 15px 100px;
	margin-top: 20px;
	font-size: 1.4rem;
	font-weight: 700;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
}

.ventana-modal .boton:hover {
	background: #539ef3;
}

.ventana-modal .activo {
	display: block;
	/* Se muestra aviso */
}

.fondo-modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.9176470588);
	height: 100vh;
	padding-top: 100px;
	position: fixed;
	/* *Fijamos fondo */
	z-index: 99;
	/* *Colocacion detras del bloque cookies */
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-modal.activo {
	display: block;
}
.fondo-modal {
	display: none;
	background-color: rgba(0, 0, 0, 0.9176470588);
	height: 100vh;
	padding-top: 100px;
	position: fixed;
	/* *Fijamos fondo */
	z-index: 99;
	/* *Colocacion detras del bloque cookies */
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}